[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-timezone-field = "*"
geopy = "*"
requests = "*"
"beautifulsoup4" = "*"
pandas = "*"
selenium = "*"
djangorestframework = "*"
django-split-settings = "*"
python-decouple = "*"

[dev-packages]
setuptools = "*"
pytest-django = "*"
ipython = "*"

[requires]
python_version = "3.6"
