<!-- <h1>Available SW Airports</h1>
{% if airport_list %}
    <ul>
    {% for airport in airport_list %}
        <li><a href="{% url 'Airport_Specific' airport.pk %}">{{ airport.title }} - {{airport.abrev}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Airports are available</p>
{% endif %} -->

<h1>Available SW Airports</h1>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4.,
          center: {lat: 34.719694, lng: -80.942950}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = [
            {% for airport in airport_list %}
                "{{airport.abrev}}",
            {% endfor %}
        ];

        var titles = [
            {% for airport in airport_list %}
                "{{airport.title}}",
            {% endfor %}
        ];

        var urls = [
            {% for airport in airport_list %}
                "{% url 'Airport_Specific' airport.pk %}",
            {% endfor %}
        ];

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          var marker = new google.maps.Marker({
            position: location,
            label: labels[i % labels.length], //label on marker
            url: urls[i % urls.length], //Urls
            title: titles[i % titles.length] //Hover text
          });
          //Add Listener for getting the URLS
          google.maps.event.addListener(marker, 'click', function() {
                                  window.location.href = marker.url;
            });
          return marker;
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {% for airport in airport_list %}
            {lat: {{airport.latitude}}, lng: {{airport.longitude}}},
        {% endfor %}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0HYrYZneKaB2dduI80KcnqJicaSInIYY&callback=initMap">
    </script>
  </body>
</html>
